# ZakaFlow Database Configuration Example
# Salin file ini menjadi '.env' (atau setel variabel ini di IDE / Environment OS Anda)
# untuk menghubungkan aplikasi ke Supabase atau database PostgreSQL Anda lainnya.

# URL koneksi JDBC PostgreSQL Supabase (Port 5432 untuk direct, atau 6543 untuk transaction pooler)
SPRING_DATASOURCE_URL=jdbc:postgresql://db.szvoiuccuwcbguchvfxm.supabase.co:5432/postgres

# Username database Supabase (default: postgres)
SPRING_DATASOURCE_USERNAME=postgres

# Password database Supabase
SPRING_DATASOURCE_PASSWORD=Willyam13042006//
